body{
    background-color:#eac3f3 ;
    margin: 0;
}
.container{
    background-color: #f0bfda;
    position: relative;
    align-items: center;
    margin-top: 400px;
    display: flex;
    justify-content: space-between;

}
.item-1{
    background-color: #b90669;
    width: 200px;
    height: 200px;
}
.item-2{
    background-color: #a04e7b;
    width: 200px;
    height: 200px;
}
.item-3{
    background-color: #a16185;
    width: 200px;
    height: 200px;
}
.item-4{
    background-color: #cf5f9d;
    width: 200px;
    height: 200px;
}
.item-5{
    background-color: #681a45;
    width: 200px;
    height: 200px;
}
.item-6{
    background-color: #500c31;
    width: 200px;
    height: 200px;
}