body{
    background-color:#39343a ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box {
    margin: 10px;
    width: min(100%, 360px);
    height: 300px;
    border: 1px solid #fff;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.item-1{
    background-color: transparent; 
    border-top: 20px solid #b90669;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation-name: rond;
    animation-duration: 2s;
    transform: rotate(360deg);
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}
@keyframes rond{
    0%{
        rotate: 0deg;
    }
    50%{
        rotate: 180deg;
    }
    100%{
        rotate: 360deg;
    }
}
.item-1:hover{
    animation-play-state: paused;
}
.item-2{
    background-color: #a04e7b;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation-name: fading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition-timing-function: ease-in;
}
@keyframes fading {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
.item-3{
    background-color: #a16185;
    width: 200px;
    height: 200px;
}
.item-4{
    background-color: #cf5f9d;
    width: 200px;
    height: 200px;
}
.item-5{
    background-color: #681a45;
    width: 200px;
    height: 200px;
}
.item-6{
    background-color: #500c31;
    width: 200px;
    height: 200px;
}